<ion-view>
	<ion-nav-buttons side="right">
		  <button class="button" ng-click="directions.back()"> Back</button>
	</ion-nav-buttons>
	<ion-pane>
	<ion-content class="has-header">
		<div id="mapd"></div>
		<div class= "item" id="dp"></div>
	</ion-content>
</ion-pane>
</ion-view>