<ion-view>
	<ion-nav-buttons side="secondary">
		  <a href="#/touristAttractions"class="button">Back</a>
	</ion-nav-buttons>
	<ion-content>
		<ion-list>
			<div class="card" ng-repeat="view in views">
			  <div class="item item-divider">
			  	View {{$index + 1}}
			  </div>
			  <iframe src="{{view.uri}}" height="100%" width="100%">
			  </iframe>
			</div>
		</ion-list>
	</ion-content>
</ion-view>