<ion-view>
      <ion-nav-title>
        {{mobileMoney.agentName}}
      </ion-nav-title>
	<!-- Filter button -->
	<ion-nav-buttons side="right">
		<button ng-click="mobileMoney.toggleFilter()" class="button icon ion-funnel"></button>
	</ion-nav-buttons>
    <ion-content class="has-header">
    	<span class="load"> <ion-spinner ng-show="mobileMoney.agentChosen && !mobileMoney.loaded"></ion-spinner> </span>
    	<div ng-show="!mobileMoney.agentChosen" class="col">
    		<div class="row"><div class="button button-home" ng-click="mobileMoney.agentSelected(2)">Ecocash</div></div>
    		<br/>
    		<div class="row"><div class="button button-home" ng-click="mobileMoney.agentSelected(1)">Mpesa</div></div>
    	</div>
		<!-- Search bar -->
		<div ng-show="mobileMoney.showSearchBar" class="list list-inset">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search by area" ng-model="mobileMoney.searchByAreaText" ng-change="mobileMoney.search()">
		  </label>
		</div>
		<!-- Results count reporter -->
		<div ng-show="mobileMoney.agentChosen && mobileMoney.loaded" class="item item-text-wrap">
			{{mobileMoney.totalAgents()}} agents.
			<span ng-show="main.filteringByDistrict" class="filter-note"> Filtered by district </span>
		</div>
		<!-- Tile view -->
		  <div ng-show="mobileMoney.agentChosen" class="card" collection-repeat="mobileMoneyCard in mobileMoneyArray">
		  	  <div class="item item-divider card-top">
			  	{{mobileMoneyCard.name}}, {{mobileMoneyCard.district.data.name}}
			  </div>
			  <div class="item item-text-wrap card-content">
			  	<span ng-show="mobileMoneyCard.hasArea"> <b> Area: </b> {{mobileMoneyCard.area}}  </span>
			  	<span ng-show="mobileMoneyCard.hasLocation" > ({{mobileMoneyCard.location}})
			  	</span> 
			  	<br ng-show="mobileMoneyCard.hasArea || mobileMoneyCard.hasLocation"/>
			  	<span ng-show="mobileMoneyCard.hasPhone"> <div class="icon ion-ios-telephone"> <a href="tel:{{mobileMoneyCard.phone.split(' ').join('')}}"> {{mobileMoneyCard.phone}}</a> </div></span>
			  	<b> Code: </b> {{mobileMoneyCard.code}}
			  </div>
		  </div>
		</div>
	</ion-content>
</ion-view>