<ion-view>
	<ion-content class="has-header">
		<div class="card">
	 	  <div class="item item-text-wrap home">
		    <h3 class = "h-title">Welcome to ServiceBox Mobile!</h3>
		  </div>
		</div>
		<div class="row">
				<div class="col"> 
				  <a class="button button-home" href="#/emergencyContacts">
	                <i class="icon ion-ios-telephone icon-home"></i>
	                <div>Emergency Contacts</div>
	              </a> </div>
	            <div class="col">
	              <a class="button button-home" href="#/touristAttractions">
	                <i class="icon ion-earth icon-home"></i>
	                <div>Tourist Attractions</div>
	              </a> 
	          </div>
		</div>
		<div class="row">
			<div class="col"> <a class="button button-home" href="#/accommodation">
                <i class="icon ion-briefcase icon-home"></i>
                <div>Accommodation</div>
              </a> </div>
			<div class="col"> <a  class="button button-home" href="#/atm-branchLocator">
                <i class="icon ion-cash icon-home"></i>
                <div >ATM/Branch Locator</div>
              </a></div>
		</div>
		<div class="row">
			<div class="col"> <a class="button button-home" href="#/mobileMoney">
                <i class="icon ion-android-phone-portrait icon-home"></i>
                <div >Mobile Money</div>
              </a> </div>
			<div class="col">  <a class="button button-home" href="#/police">
                <i class="icon ion-android-star-outline icon-home"></i>
                <div >Police Stations</div>
              </a> </div>
		</div>
		<div class="row">
			<div class="col"> <a class="button button-home" href="#/telephoneTaxis">
				<i class="icon ion-model-s icon-home"></i>
				<div> Telephone Taxis</div>
			</a></div>
		</div>
		<div class="card">
			<div class="row item white-back">
				<div class="col"><img class="home-img" src="img/enigma.png"></div>
				<div class="col"><img class="home-img" src="img/ltdc-logo.png"></div>
				<div class="col"><img class="home-img" src="img/etl.png"></div>
			</div>
		</div>
		<div id="cr"> &#169 Enigma, Inc. 2016 </div>
	</ion-content>
</ion-view>