<ion-view>
	<ion-nav-buttons side="right">
		<button ng-click="atmBranch.toggleFilter()" class="button icon ion-funnel"></button>
	</ion-nav-buttons>
	<ion-nav-title>
        ATM/Branch
      </ion-nav-title>
	<ion-tabs class="tabs-dark tabs-icon-top">
		<!-- ATM tiles tab -->
		<ion-tab title="ATM Tiles" icon-on="ion-card" icon-off="ion-card" on-select="atmBranch.tilesSelected()">
			<ion-pane>
				<ion-content class="tab-content has-header">

					<span class="load"> <ion-spinner ng-show="atmBranch.bankChosen && !atmBranch.loaded"></ion-spinner> </span>
					<div ng-show="!atmBranch.bankChosen" class="col">
			    		<div class="row"><div class="button button-home" ng-click="atmBranch.bankSelected(1)">Standard Lesotho Bank</div></div>
			    	</div>
					<!-- Lcoation slider -->
					<div ng-show="atmBranch.locationInUse" class="item range">
					  <i> 1km</i>
					  <input type="range" ng-model="atmBranch.distance" ng-change="atmBranch.distanceUpdated(atmBranch.distance)" min="1000" max="10000">
					  <i >10km</i>
					</div>
					<!-- Bank picker -->
					<div ng-show="atmBranch.showBankPicker" class="list">
					  <label class="item item-input item-select">
					    <div class="input-label">
					      Bank
					    </div>
					    <select ng-model="atmBranch.bankId" ng-change="atmBranch.bankSelected(atmBranch.bankId)">
					      <option value="1">Standard Lesotho Bank</option>
					      <!--<option value="2">Other Bank</option>
					      <option value="3">Other Bank</option>-->
					    </select>
					  </label>
					</div>
					<!-- Results count reporter -->
					<div ng-show="atmBranch.bankChosen && atmBranch.loaded" class="item item-text-wrap">
						{{atmBranch.totalAtms()}} ATM Locations.<span ng-show="atmBranch.locationInUse"> Within {{main.toKilometers(atmBranch.distance)}}km </span> <span ng-show="main.filteringByDistrict" class="filter-note"> Filtered by district </span>

					</div>
					<!-- ATM tile view -->
					<div ng-show="atmBranch.bankChosen">
						<div class="card" ng-repeat="atmCard in combinedAtmBranchArray" ng-show="atmBranch.applyFilters(atmCard)">
						  <div class="item item-divider card-top item-text-wrap">
						  	<span class="in"> {{atmCard.location}} </span> <span class="in right" ng-show="atmBranch.locationInUse"> 
					  			{{atmCard.distance}}km </span>
						  </div>
						  <div class="item item-divider card-base">
						  	<span ng-if="!atmCard.code"> ATM </span> <span ng-if="atmCard.code"> Branch </span>
						  </div>
						  <div class="item item-divider card-content">
						  	Emergency Phone: <a href="tel:{{atmCard.phone.split(' ').join('')}}"> {{atmCard.phone}}</a>
						  </div>
						  <div class="item item-base card-content">
						  	{{atmCard.district.data.name}}
						  </div>
						  <div class="item item-divider">
						  	<a href="#/directions/{{atmCard.latitude}}/{{atmCard.longitude}}">Get Directions</a>
						  </div>
						</div>
					</div>
				</ion-content>
			</ion-pane>
		</ion-tab>
		<!-- Branch tiles tab-->
		<ion-tab title="Branch Tiles" icon-on="ion-card" icon-off="ion-card" on-select="atmBranch.tilesSelected()">
			<ion-pane>
				<ion-content class="tab-content has-header">
					<!-- Lcoation slider -->
					<div ng-show="atmBranch.locationInUse" class="item range">
					  <i> 1km</i>
					  <input type="range" ng-model="atmBranch.distance" ng-change="atmBranch.distanceUpdated(atmBranch.distance)" min="1000" max="10000">
					  <i >10km</i>
					</div>
					<!-- Bank picker -->
					<div ng-show="atmBranch.showBankPicker" class="list">
					  <label class="item item-input item-select">
					    <div class="input-label">
					      Bank
					    </div>
					    <select ng-model="atmBranch.bankId" ng-change="atmBranch.bankSelected(atmBranch.bankId)">
					      <option value="1">Standard Lesotho Bank</option>
					      <!--<option value="2">Other Bank</option>
					      <option value="3">Other Bank</option>-->
					    </select>
					  </label>
					</div>
					<!-- Results count reporter -->
					<div ng-show="atmBranch.bankChosen && atmBranch.loaded" class="item item-text-wrap">
						{{atmBranch.totalBranches()}} Branches. <span ng-show="atmBranch.locationInUse"> Within {{main.toKilometers(atmBranch.distance)}}km </span> <span ng-show="main.filteringByDistrict" class="filter-note"> Filtered by district </span>

					</div>
					<!-- Branch tiles view -->
					<div ng-show="atmBranch.bankChosen">
						<div class="card" ng-repeat="branchCard in branchArray" ng-show="atmBranch.applyFilters(branchCard)">
						  <div class="item item-divider card-top">
						  	<span class="in"><b> {{branchCard.name}}, {{branchCard.district.data.name}} </b></span><span class="in right" ng-show="atmBranch.locationInUse">{{branchCard.distance}}km</span>
						  </div>
						  <div class="item item-divider card-content">
						  	{{branchCard.location}}
						  </div>
						  <div class="item item-divider card-base">
						  	Branch Details
						  </div>
						  <div class="item item-text-wrap card-content">
						  	Code: {{branchCard.code}}
						  	<br>
						  	Phone: <a href="tel:{{branchCard.phone.split(' ').join('')}}"> {{branchCard.phone}} </a>
						  	<!--<a href="{{branchCard.website}}"> Visit Website </a>-->
						  </div>
						  <div class="item item-divider card-base">
						  	Hours of Operation
						  </div>
						   <div class="item item-text-wrap card-content">
						  	<b> Mon-Fri: </b> {{branchCard.week_op_hrs}}
						  	<br>
						  	<b> Sat: </b> {{branchCard.sat_op_hrs}}
						  	<br>
						  	<b> Sun: </b> {{branchCard.sun_op_hrs}}
						  </div>
						<div class="item item-divider">
						  	<a href="#/directions/{{branchCard.latitude}}/{{branchCard.longitude}}">Get Directions</a>
						  </div>
						</div>
					</div>
			</ion-pane>
		</ion-tab>
		<!-- Map tab -->
		<ion-tab title="Map" icon-on="ion-map" icon-off="ion-map" on-select="atmBranch.mapSelected()">
			<ion-pane>
				<ion-content class="has-header tab-content">
					<span class="load"> <ion-spinner ng-show="atmBranch.bankChosen && !atmBranch.loaded"></ion-spinner> </span>
					<!-- Lcoation slider -->
					<div ng-show="atmBranch.locationInUse" class="item range">
					  <i> 1km</i>
					  <input type="range" ng-model="atmBranch.distance" ng-change="atmBranch.distanceUpdated(atmBranch.distance)" min="1000" max="10000">
					  <i >10km</i>
					</div>
					<!-- Bank picker -->
					<div ng-show="atmBranch.showBankPicker" class="list">
					  <label class="item item-input item-select">
					    <div class="input-label">
					      Bank
					    </div>
					    <select ng-model="atmBranch.bankId" ng-change="atmBranch.bankSelected(atmBranch.bankId)">
					      <option value="1">Standard Lesotho Bank</option>
					      <!--<option value="2">Other Bank</option>
					      <option value="3">Other Bank</option>-->
					    </select>
					  </label>
					</div>
					<!-- Results count reporter -->
					<div ng-show="atmBranch.bankChosen && atmBranch.loaded" class="item item-text-wrap">
						{{atmBranch.totalAtms() + atmBranch.totalBranches()}} ATMs. {{atmBranch.totalBranches()}} Branches. <span ng-show="atmBranch.locationInUse"> Within {{main.toKilometers(atmBranch.distance)}}km </span> <span ng-show="main.filteringByDistrict" class="filter-note"> Filtered by district </span>

					</div>
					<!-- Map div-->
						<div class="item" ng-show="atmBranch.bankChosen" ng-controller="atm-branchLocatorMapController">
							<div id="mapab" data-tap-disabled="true"></div>
						</div>
				</ion-content>
			</ion-pane>
		</ion-tab>
	</ion-tabs>
</ion-view>