<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Choose Categories</h1>
      <button ng-click="accommodation.modal.hide()" class="button">Done </button>
    </ion-header-bar>
    <ion-content>
      <ion-list>
              <ion-toggle ng-click="accommodation.updateMarkers()" ng-model="accommodation.allCategoriesInUse" ng-change="accommodation.updateCList()">All</ion-toggle>
              <ion-checkbox ng-click="accommodation.updateMarkers()" ng-repeat="type in accommodation.accommodationType" ng-change="accommodation.updateToggle()" ng-model="type.show">{{type.name}}</ion-checkbox>
      </ion-list>
    </ion-content>
 </ion-modal-view>