<ion-view>
      <ion-nav-title>
        Accommodation
      </ion-nav-title>
		<!-- Filter button -->
		<ion-nav-buttons side="right">
			<button ng-click="accommodation.toggleFilter()" class="button icon ion-funnel"></button>
		</ion-nav-buttons>
		<!-- Tabs defined here -->
		<ion-tabs class="tabs-dark tabs-icon-top">
		<!-- Tiles tab-->
			<ion-tab title="Tiles" icon-on="ion-card" icon-off="ion-card" on-select="accommodation.tilesSelected()">
				<ion-pane>
					<ion-content class="tab-content has-header">
						<span class="load"> <ion-spinner ng-show="!accommodation.loaded"></ion-spinner> </span>
						<!-- Lcoation slider -->
						<div ng-show="accommodation.locationInUse" class="item range">
						  <i> 1km</i>
						  <input type="range" ng-model="accommodation.distance" ng-change="accommodation.distanceUpdated(accommodation.distance)" min="1000" max="10000">
						  <i >10km</i>
						</div>
						<!-- Results count reporter-->
						<div class="item item-text-wrap" ng-show="accommodation.loaded">
							{{accommodation.totalResults()}} results. <span ng-show="accommodation.locationInUse"> Within {{main.toKilometers(accommodation.distance)}}km</span>
							<span ng-show="main.filteringByDistrict" class="filter-note"> Filtered by district </span>
						</div>
						<!-- Tile view--> 
						<div class="card" ng-repeat="accommodationCard in accommodationArray" ng-show="accommodation.applyFilters(accommodationCard)">
						  <div class="item item-divider card-top">
						  	<span class="in">{{accommodationCard.name}}, {{accommodationCard.district.data.name}}</span> <span class="in right" ng-show="accommodation.locationInUse"> <div > {{accommodationCard.distance}}km </div> </span>
						  </div>
						  <div class="item item-text-wrap card-content">
					    	<div class="icon ion-location"> {{accommodationCard.address}} </div>
					  	  </div>
						  <div ng-show="accommodationCard.hasPhone" class="item item-text-wrap card-content">
						  	<div class="icon ion-ios-telephone"> <a href="tel:{{accommodationCard.phone.split(' ').join('')}}">{{accommodationCard.phone}}</a> </div>
						  </div>
						  <div ng-show="accommodationCard.hasCell"class="item item-text-wrap card-content">
						  	<div class="icon ion-iphone"> <a href="tel:{{accommodationCard.cell.split(' ').join('')}}">{{accommodationCard.cell}}</a> </div>
						  </div>
						  <div ng-show="accommodationCard.hasEmail"class="item item-text-wrap card-content">
						  	<div class="icon ion-ios-email-outline"><a href="mailto:{{accommodationCard.email}}"> {{accommodationCard.email}} </a></div>
						  </div>
						  <div class="item item-divider">
						  	<!--<a ng-show="accommodationCard.hasWebsite" href="http://{{accommodationCard.website}}">Website</a>
						  	<a ng-show="accommodationCard.hasBookUrl" href="http://{{accommodationCard.bookUrl}}">Book Online</a>--> 
						  	<a href="#/directions/{{accommodationCard.latitude}}/{{accommodationCard.longitude}}">Get Directions</a>
						  </div>
						</div>
					</ion-content>
				</ion-pane>
			</ion-tab>
			<!-- Map tab-->
			<ion-tab title="Map" icon-on="ion-map" icon-off="ion-map" on-select="accommodation.mapSelected()">
				<ion-pane>
					<ion-content class="has-header">
						<!-- Lcoation slider -->
						<div ng-show="accommodation.locationInUse" class="item range">
						  <i> 1km</i>
						  <input type="range" ng-model="accommodation.distance" ng-change="accommodation.distanceUpdated(accommodation.distance)" min="1000" max="10000">
						  <i >10km</i>
						</div>
						<!-- Results count reporter-->
						<div class="item item-text-wrap" ng-show="accommodation.loaded">
							{{accommodation.totalResults()}} results. <span ng-show="accommodation.locationInUse"> Within {{main.toKilometers(accommodation.distance)}}km</span>
							<span ng-show="main.filteringByDistrict" class="filter-note"> Filtered by district </span>
						</div>
						<!-- Map view -->
						<div class="item" ng-controller="AccommodationMapController">
						    <div id="mapa" data-tap-disabled="true"></div>
						</div>
					</ion-content>
				</ion-pane>
			</ion-tab>
		</ion-tabs>
</ion-view>