<ion-view>
	<ion-nav-buttons side="secondary">
		  <a href="#/touristAttractions"class="button">Back</a>
	</ion-nav-buttons>
	<ion-content>
		<div ng-repeat="album in gallery" class="fb-album-container" id="album{{$index}}" on-finish-render="ngRepeatFinished">
		</div>
	</ion-content>
</ion-view>