<ion-view>
	 <ion-nav-title>
        Telephone Taxis
      </ion-nav-title>
      <ion-nav-buttons side="right">
		<button ng-click="telephoneTaxis.toggleFilter()" class="button icon ion-funnel"></button>
	  </ion-nav-buttons>
	  <ion-content class="has-header">
		<span class="load"> <ion-spinner ng-show="!telephoneTaxis.loaded"></ion-spinner> </span>
		<div class="item item-text-wrap filter-note-special" ng-show="main.filteringByDistrict"> Filtered by district </div>
		<div class="card" ng-repeat="telephoneTaxi in telephoneTaxisArray" ng-show="telephoneTaxis.applyFilters(telephoneTaxi)">
		  <div class="item item-divider item-text-wrap card-top">
		    <div> {{telephoneTaxi.name}} ({{telephoneTaxi.district.data.name}}) </div>
		  </div>
		  <div class="item item-divider card-base">
		  	Telephone Numbers:
		  </div>
		  <div class="item item-text-wrap card-content">
		    <div class="icon ion-ios-telephone"> <a href="tel:{{telephoneTaxi.phone_1.split(' ').join('')}}" >{{telephoneTaxi.phone_1}}</a> </div>
		     <div class="icon ion-ios-telephone"> <a href="tel:{{telephoneTaxi.phone_2.split(' ').join('')}}" >{{telephoneTaxi.phone_2}}</a> </div>
		      <div class="icon ion-ios-telephone"> <a href="tel:{{telephoneTaxi.phone_3.split(' ').join('')}}" >{{telephoneTaxi.phone_3}}</a> </div>
		  </div>
		  <div class="item item-divider card-base">
		  	Services:
		  </div>
		  <div class="item item-icon-left item-text-wrap card-content" ng-repeat="service in telephoneTaxi.services.data">
		  	<i class="icon ion-checkmark-circled"> </i>
		  	<div>{{service.name}}</div>
		  </div> 
		</div>
	</ion-content>
</ion-view>