.scroll {
    height: 100%;
}
 
#mapp, #mapa, #mapab, #mapta {
    width: 100%;
    height: 100vh;
}

#mapd {
	width: 100%;
	height: 60%;
}

#dp {
	width: 100vw;
	background-color: white;
}

.input-label {
	color : white;
}

.title {
	color: black;
}

.home {
	background-color: #066265;
}

#cr, .filter-note-special {
	text-align: right;
	margin-right: 10px;
}

.h-title {
	text-align: center;
}

.card-base {
	background-color: #0aa89e;
	color: black;
}

.card-top {
 background-color: black;
}

.card-content {
	background-color: #066265;
}

.card {
	border: solid black;
	border-radius: 10px;
}

.scroll {
	background-color: #32383e;
}

.scroll-content {
	background-color: #32383e;
}

.right {
	text-align: right;
	float: right;
}

.in {
	display: inline-block;
	width: 50%;
}

.out {
	display: inline-block;
	width: 100%;
}

.load {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 85px;
  text-align: center;
}

.icon-home {
	color: #0aa89e;
}

.col {
	text-align: center;
}

.button-home {
	width: 100%;
	height: 100%;
}

.home-img {
	width: 100%;
	height: 100%;
}

.white-back {
	background-color: white;
}

.custom-sheet .action-sheet-group {
	background-color : black;
}

.custom-sheet .action-sheet-title {
	font-weight: bold;
	color: white !important;
	border-bottom-width: 1px !important;
	border-color: white !important;
}

.custom-sheet .action-sheet .button {
	text-align: center !important; 
	background-color: #32383e !important;
	border-color: white !important;
	color : #caf0ee;
}

.info-card {
	color : black;
	font-weight: bold;
}

a {
	color : #caf0ee;
	font-weight: bold;
}

.filter-note {
	float: right;
}

.justified {
	text-align: justify;
	text-justify: inter-word;
}

.details-button {
	width: 100%;
}