<ion-view>
	<ion-nav-buttons side="right">
		  <a href="#/touristAttractions"class="button" ng-click="main.showMenu=true">Back</a>
	</ion-nav-buttons>
	<ion-content class="has-header">
			<div class="item item-divider item-text-wrap">
			  	{{attractionDetails.name}}
			</div>
			<div class="item item-image">
				<img src="img/tourism/places/{{attractionDetails.image}}">
			</div>
			<div class="item item-divider">
			</div>
		    <div class="item-text-wrap item justified">{{attractionDetails.description}}</div>
			<div class="item item-divider">
				Telephone: 
			</div>
			<div class="item item-text-wrap">
				<a href="tel:{{attractionDetails.phone.split(' ').join('')}}">{{attractionDetails.phone}}</a>
		  	</div>
		  	<div class="item item-divider">
				Location: 
			</div>
			<div class="item item-text-wrap">
				{{attractionDetails.district.data.name}}
		  	</div>
		  	<div class="item item-text-wrap">
			  	<b> GPS </b> <i>(Latitude/Longitude)</i>
			  	<br></br>
			  	{{attractionDetails.lat}} / {{attractionDetails.lng}}
			</div>
			<div class="item item-text-wrap">
				<a href="#/directions/{{attractionDetails.lat}}/{{attractionDetails.lng}}">Get Directions</a>
			</div>
			<div class="item item-divider">
				Accessible via Routes: 
			</div>
			<div class="list">
				<div class="item item-thumbnail-left" ng-repeat="route in attractionDetails.routes">
					<img src="img/tourism/routes/{{route.id}}.jpg">
					<div class="button" ng-click="openRoute(route)"> {{route.name}} </div>
				</div>
			</div>
	</ion-content>
</ion-view>