<ion-modal-view>
 	<ion-header-bar>
      <h1 class="title">{{currentRoute.name}}</h1>
      <button class="button" ng-click="dRoutesModal.hide()">Done </button>
    </ion-header-bar>
	<ion-content>
		<div class="item image">
			<img src="img/tourism/routes/{{currentRoute.id}}.jpg">
		</div>
	</ion-content>
</ion-modal-view>