<ion-view>
      <ion-nav-title>
        Police Stations
      </ion-nav-title>
	<!-- Filter button -->
	<ion-nav-buttons side="right">
		<button ng-click="police.toggleFilter()" class="button icon ion-funnel"></button>
	</ion-nav-buttons>
	<!-- Tabs defined here -->
	<ion-tabs class="tabs-dark tabs-icon-top">
		<!-- Tiles tab -->
		<ion-tab title="Tiles" icon-on="ion-card" icon-off="ion-card" on-select="police.tilesSelected()">
			<ion-pane>
				<ion-content class="tab-content has-header">
				<span class="load"> <ion-spinner ng-show="!police.loaded"></ion-spinner> </span>
					<!-- Lcoation slider -->
					<div ng-show="police.locationInUse" class="item range">
					  <i> 1km</i>
					  <input type="range" ng-model="police.distance" ng-change="police.distanceUpdated(police.distance)" min="1000" max="10000">
					  <i >10km</i>
					</div>
					<!-- Total results reporter -->
					<div class="item item-text-wrap" ng-show="police.loaded">
						{{police.totalResults()}} results. {{police.totalPosts()}} posts. {{police.totalStations()}} stations. <span ng-show="police.locationInUse"> Within {{main.toKilometers(police.distance)}}km</span>
						<span ng-show="main.filteringByDistrict" class="filter-note"> Filtered by district </span>
					</div>
					<!-- Tile view-->
					<div class="card" ng-repeat="policeCard in policeArray" ng-show="police.applyFilters(policeCard)">
					  <div class="item item-divider card-top item-text-wrap" >
					  	<span class="in">{{policeCard.name}} </span><span ng-show="police.locationInUse" class="in right">{{policeCard.distance}}km </span>
					  </div>
					  <div class="item item-divider card-content">
					  	<div class="icon ion-ios-location"> {{policeCard.district.data.name}} </div>
					  </div>
					  <div class="item item-divider card-content">
					  	<div class="icon ion-ios-telephone"> <a href="tel:{{policeCard.phone.split(' ').join('')}}">{{policeCard.phone}}</a></div>
					  </div>
					  <div class="item item-text-wrap card-content">
					  	<b> GPS </b> <i>(Latitude/Longitude)</i>
					  	<br></br>
					  	{{policeCard.latitude}} / {{policeCard.longitude}}
					  </div>
					  <div class="item item-divider">
						  	<a href="#/directions/{{policeCard.latitude}}/{{policeCard.longitude}}">Get Directions</a>
						  </div>
					</div>
				</ion-content>
			</ion-pane>
		</ion-tab>
		<!-- Map tab-->
		<ion-tab title="Map" icon-on="ion-map" icon-off="ion-map" on-select="police.mapSelected()">
			<ion-pane>
				<ion-content class="tab-content has-header">
					<!-- Lcoation slider -->
					<div ng-show="police.locationInUse" class="item range">
					  <i> 1km</i>
					  <input type="range" ng-model="police.distance" ng-change="police.distanceUpdated(police.distance)" min="1000" max="10000">
					  <i >10km</i>
					</div>
					<!-- Total results reporter -->
					<div class="item item-text-wrap" ng-show="police.loaded">
						{{police.totalResults()}} results. {{police.totalPosts()}} posts. {{police.totalStations()}} stations. <span ng-show="police.locationInUse"> Within {{main.toKilometers(police.distance)}}km</span> <span ng-show="main.filteringByDistrict" class="filter-note"> Filtered by district </span>

					</div>
					<!-- Map div -->
					<div class="item" ng-controller="PoliceMapController">
					    <div id="mapp" data-tap-disabled="true"></div>
					</div>
				</ion-content>
			</ion-pane>
		</ion-tab>
	</ion-tabs>
</ion-view>