<ion-modal-view>
	<ion-header-bar>
      <h1 class="title"> Choose Types </h1>
      <button ng-click="police.modal.hide()" class="button">Done </button>
    </ion-header-bar>
    <ion-content>
     <ion-list>
			<ion-checkbox ng-click="police.updateMarkers()" ng-model="police.showStations">Police Stations</ion-checkbox>
			<ion-checkbox ng-click="police.updateMarkers()" ng-model="police.showPosts">Police Posts</ion-checkbox> 
			<ion-checkbox ng-click="police.updateMarkers()" ng-model="police.showHeadquarters">Headquarters</ion-checkbox>
	  </ion-list>
    </ion-content>
</ion-modal-view>