<ion-modal-view>
	<ion-footer-bar>
		  <button ng-click="main.errorModal.hide()">Ok</button>
	</ion-footer-bar>
    <ion-content>
    	<div class="item item-text-wrap"> {{main.errorText}}</div>
    </ion-content>
 </ion-modal-view>