<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Choose Categories</h1>
      <button class="button" ng-click="touristAttractions.categoriesModal.hide()">Done </button>
    </ion-header-bar>
     <ion-content>
      <ion-list>
              <ion-toggle ng-click="touristAttractions.updateMarkers()" ng-model="touristAttractions.allCategoriesInUse" ng-change="touristAttractions.updateCList()">All</ion-toggle>
              <ion-checkbox ng-click="touristAttractions.updateMarkers()" ng-repeat="category in touristAttractions.categoriesArray" ng-model="category.selected" ng-change="touristAttractions.updateCToggle()">{{category.name}}</ion-checkbox>
      </ion-list>
    </ion-content>
</ion-modal-view>