<ion-view>
      <ion-nav-title>
        Tourist Attractions
      </ion-nav-title>
		<ion-nav-buttons side="right">
			<button ng-click="touristAttractions.toggleFilter()" class="button icon ion-funnel"></button>
		</ion-nav-buttons>
		<ion-tabs class="tabs-dark tabs-icon-top">
			<ion-tab title="Tiles" icon-on="ion-card" icon-off="ion-card" on-select="touristAttractions.tilesSelected()">
				<ion-pane>
					<ion-content class="tab-content has-header">
						<span class="load"> <ion-spinner ng-show="!touristAttractions.loaded"></ion-spinner> </span>
						<!-- Lcoation slider -->
						<div ng-show="touristAttractions.locationInUse" class="item range">
						  <i> 1km</i>
						  <input type="range" ng-model="touristAttractions.distance" ng-change="touristAttractions.distanceUpdated(touristAttractions.distance)" min="1000" max="30000">
						  <i >30km</i>
						</div>
						<div class="item item-text-wrap" ng-show="touristAttractions.loaded">
							{{touristAttractions.totalResults()}} attractions.  <span ng-show="touristAttractions.locationInUse"> Within {{main.toKilometers(touristAttractions.distance)}}km</span> 
							<span ng-show="main.filteringByDistrict" class="filter-note"> Filtered by district </span>
						</div>
						<div class="card" ng-repeat="attractionCard in touristAttractionsArray" ng-show="touristAttractions.applyFilters(attractionCard)">
							<div class="item item-divider card-top item-text-wrap">
								<span class="in">{{attractionCard.name.split('&#60br/&#62').join('')}}</span> <span class="in right" ng-show="touristAttractions.locationInUse"> <div > {{attractionCard.distance}}km </div> </span>
							</div>
							<div class="item item-image">
								<a href="#/touristDetails/{{attractionCard.id}}"><img  src="img/tourism/places/{{attractionCard.image}}"/> </a>
							</div>
							
							<div class="item item-divider icon ion-ios-telephone card-content">
								<a href="tel:{{attractionCard.phone.split(' ').join('')}}">{{attractionCard.phone}}</a>
							</div>
					  	  <div class="item item-divider card-content">
						  	<a href="#/directions/{{attractionCard.lat}}/{{attractionCard.lng}}">Get Directions</a>
						  </div>
					  	  <div class="item item-divider card-content h-title">
					  	  	<button class="button details-button" ng-click="touristAttractions.openDetailView(attractionCard.id)"> Details </button>
					  	  	<!--<button class="button" ng-show="attractionCard.has360View" ng-click="touristAttractions.open360View(attractionCard.id)"> 360 View </button>
					  	  	<button class="button" ng-show="attractionCard.hasPhotoGallery" ng-click="touristAttractions.openPhotoGalleryView(attractionCard.id)"> Gallery </button>-->
						  </div>
						</div>
					</ion-content>
				</ion-pane>
			</ion-tab>
			<ion-tab title="Map" icon-on="ion-map" icon-off="ion-map" on-select="touristAttractions.mapSelected()">
				<ion-pane>
					<ion-content class="has-header">
						<!-- Lcoation slider -->
						<div ng-show="touristAttractions.locationInUse" class="item range">
						  <i> 1km</i>
						  <input type="range" ng-model="touristAttractions.distance" ng-change="touristAttractions.distanceUpdated(touristAttractions.distance)" min="1000" max="30000">
						  <i >30km</i>
						</div>
						<div class="item item-text-wrap" ng-show="touristAttractions.loaded">
							{{touristAttractions.totalResults()}} attractions. <span ng-show="touristAttractions.locationInUse"> Within {{main.toKilometers(touristAttractions.distance)}}km</span> <span ng-show="main.filteringByDistrict" class="filter-note"> Filtered by district </span>
						</div>
						<div class="item" ng-controller="TouristAttractionsMapController">
						    <div id="mapta" data-tap-disabled="true"></div>
						</div>
					</ion-content>
				</ion-pane>
			</ion-tab>
		</ion-tabs>
</ion-view>