<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Choose Routes</h1>
      <button class="button" ng-click="touristAttractions.routesModal.hide()">Done </button>
    </ion-header-bar>
     <ion-content>
      <ion-list>
              <ion-toggle ng-click="touristAttractions.updateMapRoutes()" ng-model="touristAttractions.allRoutesInUse" ng-change="touristAttractions.updateRList()">All</ion-toggle>
              <ion-checkbox ng-click="touristAttractions.updateMapRoutes()" ng-repeat="route in touristAttractions.routesArray" ng-model="route.show" ng-change="touristAttractions.updateRToggle()">{{route.name}}</ion-checkbox>
      </ion-list>
    </ion-content>
</ion-modal-view>