<ion-view>
      <ion-nav-title>
        Emergency Contacts
      </ion-nav-title>
      <ion-nav-buttons side="right">
		<button ng-click="emergency.toggleFilter()" class="button icon ion-funnel"></button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<span class="load"> <ion-spinner ng-show="!emergency.loaded"></ion-spinner> </span>
		<div class="item item-text-wrap filter-note-special" ng-show="main.filteringByDistrict"> Filtered by district </div>
		<div class="card" ng-repeat="emergencyContact in emergencyContactsArray" ng-show="emergency.filterFunc(emergencyContact)">
		  <div class="item item-divider card-top">
		    <div class="icon {{emergencyCategoryIcon[emergencyContact.category]}}"> {{emergencyCategory[emergencyContact.category]}}</div>
		  </div>
		  <div class="item item-divider">
		    <div class="icon ion-location"> {{emergencyContact.location}} </div>
		  </div>
		  <div class="item item-text-wrap card-content">
		    <div class="icon ion-ios-telephone"> {{emergencyContact.phone}} </div>
		  </div>
		  <div class="item item-divider card-base">
		  	<a href="tel:{{emergencyContact.phone.split(' ').join('')}}" class="button button-icon icon ion-ios-telephone-outline"> Call now</a>
		  </div>
		</div>
	</ion-content>
</ion-view>